services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vendora-ai-vendor-analyst
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network
    env_file:
      - .env          # Load production values first
      - .env.dev      # Then override with development values
    environment:
      - NODE_ENV=development

networks:
  app-network:
    driver: bridge
